/imagenes_forenses/memoria.raw
/archivos_temporales/*
/resultados_volatiles/*
/resultados_artefactos/info_kernel_offset.txt
/resultados_artefactos/info_kernel_jerarquia.txt
/resultados_artefactos/info_kernel_librerias.txt
/resultados_artefactos/que_hace_el_app.txt
/resultados_artefactos/ejecutables_memoria.txt
/resultados_artefactos/Linea_de_tiempo.txt
/resultados_artefactos/objetos_en_ram.txt