/imagenes_forenses/memoria.raw
/archivos_temporales/*
/resultados_volatiles/*
/resultados_artefactos/info_kernel_offset.txt
/resultados_artefactos/info_kernel_jerarquia.txt
/resultados_artefactos/info_kernel_librerias.txt
/resultados_artefactos/que_hace_el_app.txt
/resultados_artefactos/ejecutables_memoria.txt
/resultados_artefactos/Linea_de_tiempo.txt
/resultados_artefactos/metadatos.txt
/resultados_artefactos/objetos_en_ram.txt
/resultados_artefactos/Ubicacion_registros.txt
/resultados_artefactos/dispositivos.txt
/resultados_artefactos/registros_sistema.txt
/resultados_artefactos/hash_system_sam.txt